header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 98px 51px 98px 50.52px;
  align-items: center;
  font-size: 18px;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 32px;
}

.link a {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #000;
}

.header__links-list li:first-child {
  list-style: none;
}

.header__logo img {
  width: 148px;
  height: 105px;
}

.address {
  line-height: 24.3px;
  width: 237px;
}

.header__address,
.footer__address {
  font-style: normal;
}

.address a {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #000;
}

/*===== MAIN =====*/


h1 {
  font-size: 100px;
  text-transform: uppercase;
  z-index: 4;
}

.cover {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 165px 50px 50px 50px;
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center;

  font-size: 100px;
  font-weight: 700;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 2;

}

.content {
  position: relative;
  z-index: 3;
}

.cover__title {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3em;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_left span {
  letter-spacing: 0.6em;
}

.aligned-text_center {
  text-align: center;
  line-height: 1.38;
}

.aligned-text_center span {
  letter-spacing: 0.6em;
}

.aligned-text_right {
  text-align: right;
  line-height: 1.02;
  letter-spacing: 0.3em;
}

.aligned-text_right span {
  letter-spacing: 0.6em;
}

.aligned-text_right .last-letter {
  letter-spacing: 0;
}

.cover__description,
.cover__description-text,
.bet-button {
  font-size: 22px;
  font-weight: 400;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  padding-top: 135px;
}

.cover__description-text {
  display: flex;
  align-items: center;
  padding-left: 28px;
  text-transform: uppercase;
  word-spacing: 0.85em;
}

.bet-button {
  padding: 12px 32px 11px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  line-height: 25.83px;
  font-weight: 500;
}


.lots {
  color: #fff;
  padding: 179px 24px 0px 24px;
  margin-bottom: 146px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 27px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  background-size: cover;
  background-position: center;
  flex-shrink: 1;
  list-style: none;
  min-height: 563px;
  width: 100%;
  max-width: 334px;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
}

.card-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 51px 40px 48px 40px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.card-link:hover {
  opacity: 0.9;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.card-link .card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-transform: lowercase;
}

/* === ABOUT === */

.about {
  padding: 35px 24px 0px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.logo__column {
  display: flex;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  flex-direction: column;
  justify-content: flex-end;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;

  padding: 98px 0px 100px 0px;
}

.about__text {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 400;
}

.about__column p:last-child {
  margin-bottom: 0px;
}

/* === FOOTER === */

footer {
  display: flex;
  justify-content: space-between;
  padding: 181px 51px 98px 50.52px;
}

footer .address {
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  display: block;
}

.footer__social-icon {
  width: 48px;
}

.footer__menu {
  list-style: none;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link_active a {
  border: none;
}
